[alias]
	cdiff = diff --cached
	pfa = !git spull && git fetch --all
	remotes = remote -v
	st = status
	co = checkout
	cp = cherry-pick
	spull = ![[ -z $(git status --porcelain -uno) ]] && git pull -r || (git stash && git pull -r && git stash pop)
	slog =  log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%x09%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative -n 50
	wdiff = diff --color-words=[0-9A-Za-z][0-9A-Za-z]*
	jdiff = !echo '*.json diff=json' | git -c 'core.attributesfile=/dev/stdin' -c 'diff.json.textconv=python -m json.tool' diff
	jwdiff = !echo '*.json diff=json' | git -c 'core.attributesfile=/dev/stdin' -c 'diff.json.textconv=python -m json.tool' diff --color-words='[0-9A-Za-z][0-9A-Za-z]*'
[apply]
	whitespace = warn
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[log]
	decorate = true
[mergetool]
	keepBackup = true
[pull]
	#rebase = true
[push]
	default = matching
[sendemail]
	chainreplyto = no
	from = Jesper Dahl Nyerup <nyerup@one.com>
	bcc = nyerup@one.com
[user]
	name = Jesper Dahl Nyerup
	email = nyerup@one.com
